<h2>Foos</h2>

<app-foos-search-form [value]="getFoosRequest()" />

<div style="margin: 1em 0">
  <a routerLink="create">create new foo</a>
</div>

<fest-service-call-state [state]="getFoos.state()" busy="Searching for foos...">
  <ng-template #success let-state>
    @if (isSuccessState(state)) {
      @for (item of state.response.foos; track item.fooId) {
        <a [routerLink]="[item.fooId, 'update']">
          <app-foo-list-item [foo]="item.foo" class="list-item" />
        </a>
      }
    }
  </ng-template>
</fest-service-call-state>
