<style>
  .form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
  }
</style>

<fest-service-call-state
  [state]="readFoo.state()"
  [busy]="readBusyTmpl"
  [success]="readSuccessTmpl"
/>

<ng-template #readBusyTmpl let-state>
  @if (isBusyState(state)) {
    <div>Fetching foo with id {{ state.request }}...</div>
  }
</ng-template>

<ng-template #readSuccessTmpl>
  <form [formGroup]="editForm" class="form">
    <label for="name" style="grid-column: 1 / 2; grid-row: 1 / 2">Name</label>
    <input
      id="name"
      type="text"
      formControlName="name"
      style="grid-column: 2 / 3; grid-row: 1 / 2"
    />

    <label for="count" style="grid-column: 1 / 2; grid-row: 2 / 3">
      Count
    </label>
    <input
      id="count"
      type="number"
      formControlName="count"
      style="grid-column: 2 / 3; grid-row: 2 / 3"
    />

    <div style="grid-column: 1 / 2; grid-row: 3 / 4">
      <button type="submit" [disabled]="submitDisabled()">save</button>

      <button #btnDelete type="button" [disabled]="deleteDisabled()">
        delete
      </button>
    </div>
  </form>

  <fest-service-call-state
    [state]="updateFoo.state()"
    [busy]="updateBusyTmpl"
  />

  <fest-service-call-state
    [state]="deleteFoo.state()"
    [busy]="deleteBusyTmpl"
  />
</ng-template>

<ng-template #updateBusyTmpl>
  <div>Saving foo...</div>
</ng-template>

<ng-template #deleteBusyTmpl>
  <div>Deleting foo...</div>
</ng-template>
