<h2>Foos</h2>

<app-foos-search-form [value]="getFoosRequest()" />

<div style="margin: 1em 0">
  <a routerLink="create">create new foo</a>
</div>

<fest-service-call-state
  [state]="getFoos.state()"
  [busy]="busyTmpl"
  [success]="successTmpl"
/>

<ng-template #busyTmpl>
  <div>Searching for foos...</div>
</ng-template>

<ng-template #successTmpl let-state>
  @if (isSuccessState(state)) {
    @for (item of state.response.foos; track item.fooId) {
      <a [routerLink]="[item.fooId, 'edit']">
        <app-foo-list-item [foo]="item.foo" class="list-item" />
      </a>
    }
  }
</ng-template>
