<h2>Foos</h2>

<app-foos-search-form [value]="getFoosRequest()" />

<div style="margin: 1em 0">
  <a routerLink="create">create new foo</a>
</div>

@let state = getFoos.state();
@switch (state.type) {
  @case ('IDLE') {}
  @case ('BUSY') {
    <div>Fetching data...</div>
  }
  @case ('ERROR') {
    <div class="error">{{ state.error | error }}</div>
  }
  @case ('SUCCESS') {
    @for (item of state.response.foos; track item.fooId) {
      <a [routerLink]="[item.fooId, 'edit']">
        <app-foo-list-item [foo]="item.foo" class="list-item" />
      </a>
    }
  }
}
